@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  width: 95vw;
}

.logo {
  max-width: 190px;
  width: 100%;
  height: auto;
  padding: 0 20px;
  margin-left: -5vh;
  margin-top: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}

.header-icons {
  display: flex;
  gap: 18px;
  padding: 50px;
}

.menu-bottons {
  display: flex;
  padding: 14px;
}

.menu-bottons a {
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  padding: 15px 50px;
  display: inline-block;
  position: relative;
}

.menu-bottons a::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #d94140;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 1s ease-in-out;
}

.menu-bottons a:hover::after {
  width: 100%;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.visitantes {
  display: flex;
  align-items: center;
  gap: 7px;
  z-index: 10;
  right: 20px;
  top: 20px;
  margin-right: 3%;
  position: absolute;
}

.olho {
  background: #ed5050;
  border-radius: 50%;
  margin: 0 10px;
  height: 10px;
  width: 10px;
  display: block !important;
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  transform: scale(1);
  animation: pulse 1s infinite;
}

.viewer_count {
  color: #d34040;
  font-weight: bold;
}

.visitante-text {
  color: #FFF;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("/assets/imgs/Imagem_bg.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #FFF;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
  animation: appear 2s ease-in-out;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}
.hero p {
  text-align: center;
  margin: 14px;
}

.hero h1 {
  margin-top: -4%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button-contact {
  padding: 14px 50px;
  color: #FFF;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 4px;
  animation: pisca 2.3s infinite;
  box-shadow: 0px 0px 10px -6px #b42b2b;
  transition: all 3s cubic-bezier(0.3, 0.01, 0.2, 1);
  transition: background-color 0.8s;
}

@keyframes pisca {
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}
.button-contact:hover {
  background-color: transparent;
  animation: none;
  box-shadow: none;
}

/*
.button-contact:hover{

    animation: scaleButtom 0.8s alternate infinite;
    box-shadow: none;
}

@keyframes scaleButtom{

    From{

        transform:  scale(1);
    }
    to{

        transform: scale(1.07);
    }
}

}*/
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
  .hero p {
    font-size: 12px;
  }
}
#about {
  background-color: #06121e;
  overflow: hidden;
  color: #FFF;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 34px 14px 90px 14px;
}
.about-content img {
  max-width: 100%;
}

/*.about-content div{

    flex: 1; 
}
*/
.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
#services {
  background-color: #FFF;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
  font-weight: 600;
}

.cards-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 44px 64px 44px;
}

.cards {
  position: relative;
  flex: 1 1 calc(20% - 20px);
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: -6px 9px 9px 1px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: box-shadow 0.4s ease-in-out;
}

.cards img {
  width: 100%;
  max-width: 354px;
  z-index: 1;
  position: relative;
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  border-radius: 12pxpx;
  border: 1px solid rgba(255, 255, 255, 0);
  z-index: 2;
  transition: background 0.6s ease, backdrop-filter 0.6s ease, -webkit-backdrop-filter 0.6s ease, border 0.6s ease;
}

.cards:hover::before {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cards:hover {
  box-shadow: none;
}

.cards .hover-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 3;
  transition: opacity 1.6s ease;
}

.cards:hover .hover-text {
  opacity: 1;
}

.card-info {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  margin-bottom: 1%;
}

.slides-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  border-radius: 12px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.1s ease;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
  left: 10px;
  border-radius: 0 5px 5px 0;
}

.next-btn {
  right: 10px;
  border-radius: 5px 0 0 5px;
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition: 1s ease-in-out;
}

.glass-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Efeito de vidro */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Efeito de desfoque */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 3; /* Sempre visível */
  z-index: 2;
  border-radius: 12px;
  transition: none; /* Remove qualquer transição de opacidade */
}

section.slider {
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
  position: relative;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 2s;
}

.slide-box img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.nav-manual, .nav-auto {
  position: absolute;
  width: 100%;
  bottom: 10%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
  border: 1px solid rgb(12, 33, 53);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1.5s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
  margin-right: 53px;
}

.nav-manual .manual-btn:hover {
  background-color: rgb(12, 33, 53);
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3,
#radio4:checked ~ .nav-auto .auto-btn4 {
  background-color: rgb(12, 33, 53);
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

#radio4:checked ~ .primeiro {
  margin-left: -75%;
}

/*
@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}
*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #06121e;
  color: #FFF;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.footer-content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
  text-align: center;
  padding: 0 20px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-content {
    flex-basis: 100%;
    padding: 10px 0;
  }
}

.Politicas ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 30px;
}

.Politicas a {
  color: #FFF;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  padding: 4px;
}

.Politicas a::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #d94140;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.Politicas a:hover::after {
  width: 100%;
}

.header-icons a {
  color: #FFF;
  transition: transform 0.3s, color 0.3s;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 3;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(11px, -10px);
}

.nav-links li {
  position: relative;
}

.dropdown-content {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #0c2135;
  box-shadow: -20px 20px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  min-width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.dropdown-content.show {
  display: block;
  max-height: 200px;
  opacity: 1;
}

.dropdown-content li a {
  color: #FFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  background-color: #d34040;
}

@media (max-width: 1520px) {
  .cards-services {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .hover-text {
    font-size: 12px;
  }
  .about-content {
    flex-direction: column-reverse;
  }
  section.slider {
    width: 80%;
  }
}
@media (max-width: 1051px) {
  .cards-services {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .hover-text {
    font-size: 12px;
  }
  .about-content {
    flex-direction: column-reverse;
  }
  section.slider {
    width: 97%;
  }
  .prev-btn-01,
  .next-btn-01 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.1s ease;
  }
  .prev-btn-01:hover,
  .next-btn-01:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .prev-btn-01 {
    left: 10px;
    border-radius: 0 5px 5px 0;
  }
  .next-btn-01 {
    right: 10px;
    border-radius: 5px 0 0 5px;
  }
}
@media (max-width: 898px) {
  .Politicas {
    display: none;
  }
  .social-media {
    display: none;
  }
}
@media (min-width: 885px) {
  .navbar {
    display: none;
  }
  .nav-links li a {
    display: none;
  }
  .header-icons-mobile {
    display: none;
  }
  .slides-wrapper {
    display: none;
  }
}
@media (min-width: 885px) {
  .slide-cards {
    display: none;
  }
}
@media (max-width: 885px) {
  .header-icons {
    display: none;
  }
  .menu-bottons {
    display: none;
  }
  .nav-links li {
    margin-left: 0;
  }
  .nav-links {
    position: absolute;
    top: 1px;
    left: 0;
    width: 60vw;
    height: 85vh;
    background: #0c2135;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    justify-content: space-around;
    transform: translateX(-110%);
    transition: transform 0.3s ease-in-out;
    border-radius: 9px;
  }
  .nav-links.active {
    transform: translateX(-7%);
  }
  #header-content {
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
  }
  .hamburger {
    display: flex;
    margin-top: -5%;
    z-index: 4;
  }
  .header-icons-mobile {
    display: flex;
    gap: 11vw;
    padding: 40px 40px 0px;
    justify-content: space-between;
  }
  @keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
  }
  i {
    color: #FFF;
  }
  .header-icons-mobile a:hover i {
    animation: translateY 0.8s infinite alternate;
    color: #d34040;
  }
  .about-content {
    flex-direction: column-reverse;
  }
  section.slider {
    width: 97%;
  }
  .hero p {
    font-size: 16px;
  }
  .about-description p {
    font-size: 16px;
  }
  .slide-cards {
    width: 85vw;
  }
  .cards {
    display: none;
  }
  .cards-services {
    align-items: center;
    width: 85vw;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
  .bg-home::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("/assets/imgs/fundo_teste-2.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 101%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.9;
  }
  .Politicas {
    display: none;
  }
  .logo {
    background-image: url("/assets/imgs/logo_cell.png");
    max-width: 230px;
    width: 30%;
    height: auto;
    padding: 0 20px;
    margin-right: -2vh;
  }
  .social-media {
    display: none;
  }
  .visitantes {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    margin-left: 7%;
    margin-top: -5%;
    z-index: 10;
  }
}
body {
  font-family: "sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */